[Unit]
Description=Startet die Kalender-Gesichtserkennung alle 2 Minuten

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
